body {
  font-family: "Work Sans", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    230deg,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 218, 254, 1) 100%
  );
  min-height: 100vh;
}

a {
  color: black;
}

a:hover {
  color: #85f798;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  font-family: "Forum", cursive;
}

.header h2 {
  color: lightgray;
  font-size: small;
}

.header-img {
  max-width: 25%;
  margin: 50px auto;
  display: block;
}

.btn {
  background-color: #84f796;
  border: none;
  color: black;
  font-size: smaller;
  font-weight: 300;
}

.btn:hover {
  background-color: black;
  border: none;
}

.card {
  display: inline-block;
  max-width: 30%;
}

.card-body {
  text-transform: uppercase;
  font-size: x-small;
}

.container {
  padding-bottom: 50px;
}

.for-hire {
  color: lightgray;
  text-transform: uppercase;
  font-size: x-small;
  padding-left: 10px;
}

.Search {
  padding-bottom: 50px;
}
